@include tab {
    .c-mainvisual {
        padding-top: 125px;
        max-height: 911px;
        height: 100vh;

        &__title {
            font-size: 4rem;
            top: -724.4%;
            left: 5.2%;
            line-height: 1.67;

            span:nth-of-type(1) {
                letter-spacing: 2.6px;
                padding: 0 7px 0 8px;
            }

            span:nth-of-type(2) {
                letter-spacing: 1.8px;
                padding: 0 12px 0 9px;
            }

            span:nth-of-type(3) {
                letter-spacing: 2px;
                padding: 0 3px 0 9px;
                line-height: 1.6;
            }
        }

        &__caption {
            max-width: 687px;
            max-height: 64px;
            font-size: 2.2rem;
            padding: 14px 0 17px;
            letter-spacing: 1.6px;

            span {
                margin-right: -8px;
                margin-left: 6px;
            }
        }

        &__scrollbtn {
            top: -100.4%;
            left: 45.7%;
            letter-spacing: 1.3px;

            &::after {
                top: 141%;
                left: 50.7%;
            }
        }
    }
}

@include sp {
    .c-mainvisual {
        padding-top: 67px;
        max-height: 666px;
    
        &__title {
            font-size: 2.8rem;
            top: -467.8%;

            span:nth-of-type(1) {
                letter-spacing: 0.8px;
                padding: 0 14px 0 5px;
            }

            span:nth-of-type(2) {
                letter-spacing: 0.1px;
                padding: 0 8px 0 6px;
            }

            span:nth-of-type(3) {
                letter-spacing: 0.3px;
                padding: 0 4px 0 6px;
            }
        }

        &__caption {
            padding: 14px 31px 12px 30px;
            max-width: 354px;
            max-height: 73px;
            font-size: 1.8rem;
            letter-spacing: 0.4px;
            line-height: 1.44;

            span {
                margin-right: -5px;
                margin-left: 1px;
                letter-spacing: 0.3px;
            }
        }

        &__scrollbtn {
            font-size: 1.6rem;
            top: -60.4%;
            left: 41.3%;
            letter-spacing: 1px;

            &::after {
                top: 115%;
                left: 47%;
                height: 27px;
            }
        }
    }
}
