@include tab {
    .c-career {
        padding-top: 6.7%;

        &__intro {
            text-align: center;
            margin-bottom: 4.2%;
    
            h2 {
                font-size: 2.6rem;
                letter-spacing: 1.3px;
                line-height: 1.7;
                margin-bottom: 3%;

                span {
                    letter-spacing: 1.4px;
                }
            } 
    
            p {
                font-size: 1.4rem;
                letter-spacing: 0.3px;
                line-height: 1.78;
                margin: 0 auto;
            }

            p:nth-of-type(2) {
                width: 67%;
            }

        }

        &__banner {
            margin-bottom: 0;
        }

        &__text {
            max-width: 383px;
            max-height: 443px;
            top: 10.4%;
            left: 2.5%;
            padding: 4.6% 4% 2.9% 5.3%;

            .c-text {
                letter-spacing: 1.7px;
                margin-bottom: 3.2%;
                line-height: 1.46;
            }

            .c-text2 {
                letter-spacing: 0.3px;
                line-height: 1.8;
            }

            p:nth-of-type(1) {
                margin-left: 0.1%;
                margin-bottom: -0.1%;
            }
        }

        &__plan {
            max-width: 87%;
            padding: 6.7% 0 2% 2.2%;

            .c-text {
                max-width: 668px;
                letter-spacing: 1.6px;
                margin-bottom: 2.95%;
                padding-left: 3.7%;
            }

        }

        &__planitem {
            max-width: 668px;
            padding-left: 9.8%;
            margin-bottom: 6.8%;

            dl {
                dd {
                    margin-left: 8.7%;
                    margin-top: 0.5%;
                }
            }

            dl:nth-child(1) {
                margin-bottom: 0.3%;
            }

            dl:nth-child(2) {
                margin-bottom: 1%;
            }

            dl:nth-child(3) {
                margin-bottom: 3.6%;

                dd {
                    margin-top: 0.6%;
                }
            }

            dl:nth-child(4) {
                dd {
                    margin-top: 1.8%;
                    letter-spacing: -1.7px;
                    line-height: 1.55;
                }
            }
        }

        &__planfooter {
            max-width: 510px;
            min-height: 134px;
            margin-right: 6%;
            margin-top: 7.3%;
            margin-left: 6.7%;
            
            h3 {
                padding: 4.5% 0;
                font-size: 2.1rem;
                line-height: 1.8;
                letter-spacing: 0.5px;
            }
        }

        &__welfareimg {
            width: 40.1%;

            picture {
                height: 256.5px;
            }

            img {
                max-width: 288px;
                object-fit: cover;
                object-position: center;
                height: 100%;
            }

            picture:first-child {
                height: 245px;
                max-height: 100%;
            }
        }

        &__welfarelist {
            width: 59.9%;
        } 

        &__welfarewrap {
            margin-left: 4.5%;
            margin-top: 55px;

            h4 {
                margin-bottom: 1.2%;
            }
        }

        &__mainlist {
            margin-bottom: 11.3%;
            
            .c-span2 {
                font-size: 1.4rem;
                letter-spacing: 2.1px;
            }

            .c-span1 {
                font-size: 1.4rem;
                margin-top: 1.9%;
                margin-left: 4%;
                letter-spacing: 0.2px;
                line-height: 1.78;
            }

            .c-span1::before {
                font-size: 10px;
            }

            > li:nth-child(1) {
                margin-bottom: 1.9%;
            }

            > li:nth-child(2) {
                margin-bottom: 2.5%;

                .c-span1 {
                    margin-top: 2.1%;
                    letter-spacing: 0.2px;
                }   
            }

            > li:nth-child(3) {
                margin-bottom: 1.9%;
                
                .c-span2 {
                    letter-spacing: 0.3px;
                }
            }

            > li:nth-child(5) {
                margin-bottom: 2.4%;
            }
        }

        &__childlist {
            margin-top: 2.2%;
            margin-left: 5%;
    
            > li {
                font-size: 1.4rem;
                font-weight: 400;
                letter-spacing: 0.8px;
                margin-bottom: 0.35%;
            }
        }

        &__mainlist:last-child {
            margin-top: 2%;
    
            span {
                margin-top: 1.5%;
                margin-left: 5%;
            }
    
            ul {
                margin-top: 0.1%;
                padding-left: 5.2%;
            }
        }
    }
}

@include sp {
    .c-career {
        padding-top: 9.6%;

        &__intro {
            text-align: left;
            margin-bottom: 33px;
            padding-left: 5.4%;
            padding-right: 5%;
    
            h2 {
                font-size: 2.4rem;
                width: 95%;
                letter-spacing: 1px;
                line-height: 1.25;
                margin-bottom: 4%;

                span {
                    letter-spacing: 1.2px;
                }
            } 
    
            p {
                letter-spacing: 0.3px;
                line-height: 1.57;
            }

            p:nth-of-type(1) {
                margin-bottom: 0%;
            }

            p:nth-of-type(2) {
                width: 100%;
            }
        }

        &__bannerimg {
            position: static;

            img {
                // width: auto;
                max-height: 262px;
                object-fit: cover;
            }
        }

        &__text {
            position: static;
            padding: 9.6% 5% 2.9% 5.3%;
            max-width: 100%;

            .c-text {
                letter-spacing: 1.2px;
                margin-bottom: 3.8%;
                width: 85%;
                line-height: 1.25;
            }

            .c-text2 {
                letter-spacing: 0.3px;
                line-height: 1.6;
            }

            p:nth-of-type(1) {
                margin-left: 0%;
                margin-bottom: -0.2%;
            }

            p:nth-of-type(2) {
                margin-bottom: -0.6%;
            }

            p:nth-of-type(3) {
                margin-bottom: -0.4%;
            }
        }

        &__banner {
            margin-bottom: 6.1%;
        }

        &__plan {
            max-width: 100%;
            padding: 8.5% 0 13.1%;

            .c-text {
                max-width: 100%;
                letter-spacing: 1.2px;
                margin-bottom: 7%;
                padding-left: 5.4%;
            }

        }

        &__planitem {
            max-width: 100%;
            padding-left: 0;
            margin-bottom: 6.1%;

            dl {
                padding-left: 7.9%;

                dt {
                    font-size: 1.8rem;
                    font-weight: 500;
                    letter-spacing: 1.1px;
                }

                dd {
                    margin-left: 8.7%;
                    margin-top: 3.2%;
                    font-size: 1.4rem;
                    line-height: 1.57;
                }
            }

            dl:nth-child(1) {
                margin-bottom: 4.4%;
            }

            dl:nth-child(2) {
                margin-bottom: 4.9%;

                dd {
                    margin-top: 3.5%;
                }
            }

            dl:nth-child(3) {
                margin-bottom: 3.6%;

                dd {
                    margin-top: 3.7%;
                }
            }

            dl:nth-child(4) {
                dt {
                    letter-spacing: 1px;
                }

                dd {
                    margin-top: 4.2%;
                    letter-spacing: 0.3px;
                    line-height: 1.57;
                }

                span {
                    display: block;
                    margin-top: -3.9%;
                }
                
            }
        }

        &__planfooter {
            max-width: 100%;
            min-height: 138px;
            padding: 0 10px;
            margin: 6.1% 0;
            
            h3 {
                padding: 7.8% 4.7%;
                font-size: 1.8rem;
                line-height: 1.44;
                letter-spacing: -0.1px;
            }

            span:first-child {
                display: block;
            }

            span:last-child {
                display: inline;
            }

            &::before,
            &::after {
                display: inline-block;
                width: 30px;
                height: 32px;
            }

            &::before {
                top: 0;
                left: 11px;
            }

            &::after {
                bottom: 0;
                right: 14px;
            }
        }

        &__welfare {
            flex-direction: column;
        }
    
        &__welfareimg {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            padding-left: 3%;

            picture:nth-child(odd) {
                width: 48.76%;
                max-height: 100%;
                height: auto;
            }

            picture:nth-child(even) {
                width: 51.24%;
                max-height: 100%;
                height: auto;
            }

            img {
                max-width: 100%;
                width: 100%;
            }

            img:first-child {
                height: auto;
            }
        }

        &__welfarelist {
            width: 97%;
            margin-left: 3%;
        }

        &__welfarewrap {
            margin-left: 2.1%;
            margin-top: 36px;
            margin-right: 2.6%;

            h4 {
                font-size: 2.2rem;
                letter-spacing: 1.2px;
                margin-bottom: 2.8%;
            }
        }

        &__mainlist {
            padding: 0 3.3% 0 0;
            margin-bottom: 7.3%;

            > li {
                font-size: 1.6rem;
                font-weight: 600;
                letter-spacing: 0.1px;
            }

            > li::before {
                font-size: 9px;
            }

            .c-span2 {
                font-size: 1.4rem;
                letter-spacing: 0.3px;
            }

            .c-span1 {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.3;
                letter-spacing: 0.2px;
                margin-top: 0.3%;
                margin-left: 1.5%;
            }

            > li:nth-child(1) {
                margin-bottom: 4%;
            }

            > li:nth-child(2) {
                margin-bottom: 3.2%;

                .c-span1 {
                    margin-top: -0.1%;
                    margin-left: 4.5%;
                    letter-spacing: 0.2px;
                    line-height: 1.95;
                    width: 93%;
                }
            } 

            > li:nth-child(3) {
                letter-spacing: 0.5px;
                line-height: 1.45;
                margin-bottom: 3%;
            }

            > li:nth-child(4) {
                letter-spacing: 0.5px;
            }

            > li:nth-child(5) {
                margin-bottom: 2.6%;
            }

            > li:nth-child(6) {
                margin-bottom: 3.6%;
            }
            
            > li:nth-child(7) {
                span {
                    margin-left: -3%;
                    letter-spacing: 0.1px;
                }
            }
        }

        &__childlist {
            margin-top: 3.7%;
            margin-left: 3%;

            > li {
                letter-spacing: 0.5px;
                margin-bottom: 0.5%;
            }
        }

        &__mainlist:last-child {
            margin-top: 2.5%;
            margin-bottom: 2%;
    
            span {
                font-size: 1.4rem;
                font-weight: 400;
                letter-spacing: 0.4px;
                margin-top: 2.8%;
                margin-left: 3.1%;
            }
    
            ul {
                font-size: 1.4rem;
                font-weight: 400;
                margin-top: -0.1%;
                padding-left: 3.1%;
            }
    
            li {
                margin-bottom: 0.3%;
            }
        }
    }
}
