/* Breadcrumb
------------------------------------------------------------*/
.c-breadcrumb {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px 13px;
    background: #fff;
    margin: 0 auto;

    a:hover {
        opacity: 0.7;
    }

    &__menuicon {
        display: none;
    }

    &__logo {
        padding-left: 1px;
        position: relative;
        width: 165px;
        height: 53px;

        &::after {
            content: "Recruitment 2020";
            position: absolute;
            display: block;
            font-weight: 400;
            font-size: 1.2rem;
            bottom: 4.7%;
            right: 10%;
        }
    }

    &__navgroup {
        display: flex;
        align-items: center;
        flex: 1;
    }

    &__btn {
        background-color: #0080cc;
        border: 0 none;
        color: #fff;
        max-width: 185px;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
      
        img {
            height: 20px;
            width: 20px;
            margin-left: -6px;
            margin-right: 9px;
        }

        p {
            display: inline;
            line-height: 100%;
            font-size: 1.8rem;
            font-weight: 500;
            letter-spacing: 2px;
        }
    }

}
/* Main menu
------------------------------------------------------------*/
.c-gnav {
    padding-top: 2px;
    flex: 1;

    ul {
        padding: 0;
        display: flex;
        text-align: center;
        justify-content: space-evenly;
    }

    li {
        letter-spacing: 0.3px;
    }

    li:first-child {
        margin-left: 7.5%;
    }

    li:nth-child(2) {
        margin-left: 0.1%;
        margin-right: 1.6%;
    }

    li:nth-child(4) {
        margin-right: 0.2%;
    }

    li:last-child {
        margin-right: 1.4%;
    }

    a {
        font-size: 1.6rem;
        font-weight: 400;
        color: #0080cc;
        padding-bottom: 6px;
    }

    .c-breadcrumb__btnmenu {
        display: none;
    }
}

/* Responsive
------------------------------------------------------------*/

@include tab {
    .c-breadcrumb {
        flex-direction: column;
        width: 100%;

        &__logo {
            position: absolute;
            left: 20px;
          
            &::after {
                bottom: 2.7%;
                right: 10.8%;
                letter-spacing: 0;
            }
        }

        &__navgroup {
            flex-direction: column-reverse;
            width: 100%;
        }

        &__btn {
            margin-left: auto;
            max-width: 157px;
            height: 40px;
            margin-bottom: 29px;
            padding: 0;
            justify-content: space-evenly;

            img {
                margin-left: -3px;
            }

            p { 
                margin-top: 5px;
                font-size: 1.6rem;
                letter-spacing: 2px;
                margin-left: -25px;
            }
        }
    }

    .c-gnav {
        width: 100%;
        padding-top: 2px;

        ul {
            justify-content: space-between;
        }

        a {
            padding-bottom: 0;
        }

        li:first-child {
            letter-spacing: 0.9px;
            margin-left: 2.9%;
        }
  
        li:nth-child(2) {
            margin-left: -3.7%;
            letter-spacing: 0.7px;
            margin-right: 0;
        }
      
        li:nth-child(3) {
            letter-spacing: -1.5px;
            margin-left: -2.4%;
        }

        li:nth-child(4) {
            margin-right: -0.7%;
            letter-spacing: -1.7px;
        }
  
        li:last-child {
            margin-right: 2.9%;
        }

        .c-breadcrumb__btnmenu {
            display: none;
        }
    }
}

@include sp {
    .c-breadcrumb {
        flex-direction: row;
        align-items: flex-start;

        &__logo {
            position: relative;
            width: 123px;
            height: 30px;
            left: 0;

            &::after {
                font-size: 1rem;
                bottom: -40%;
                right: 9.7%;
                letter-spacing: -0.1px;
            }
        }

        &__btn {
            max-width: 122px;
            height: 38px;
            margin-bottom: 0;
            margin-right: 21.4%;

            img {
                margin-left: 1px;
            }

            p {
                font-size: 1.4rem;
                margin-top: 0;
                margin-left: -17px;
            }
        }

        &__navgroup {
            position: relative;
            flex-direction: column;
            align-items: center;
        }

        &__menuicon {
            z-index: 999;
            position: absolute;
            top: 25%;
            right: 0;
            width: 30px;
            height: 20px;
            cursor: pointer;
            display: block;

            .c-menuopen {
                display: block;
            }

            .c-menuclose {
                display: none;
            }
        }

        &__menuicon:hover {
            opacity: 0.7;
        }
    }

    .c-gnav {
        display: none;
        position: fixed;
        max-width: 100%;
        width: 100%;
        z-index: 9999;
        top: 65px;
        left: 0;
        min-height: 100vh;
        background-color: rgba($color: #fff, $alpha: 0.95);
        overflow-y: scroll;
        
        ul {
            height: 100%;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 55px;
            margin-bottom: 11px;
        }

        li:nth-child(1),
        li:nth-child(2),
        li:nth-child(3),
        li:nth-child(4),
        li:nth-child(5) {
            display: inline-flex;
            padding: 0 0 40px 5%;
            margin: 0;

            img {
                width: 24px;
                height: 24px;
                margin-right: 3%;
            }

            a {
                letter-spacing: 1.2px;
                font-size: 2rem;
                color: #0080cc;
            }
        }

        .c-breadcrumb__btnmenu {
            position: static;
            color: #fff;
            margin: 0 auto;
            max-width: 335px;
            width: 95%;
            height: 60px;
            justify-content: center;

            img {
                width: 28px;
                height: 28px;
                margin-left: -24%;
            }
            
            p {
                font-size: 2.4rem;
                margin-left: 18%;
            }
        }
    }
    
    .is-show {
        display: block;
    }
    
    .is-hide {
        display: none;
    }
}

