/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    .l-container {
        border-top: 1px solid #0080cc;
    }

    .c-breadcrumb {
        padding: 18px 20px 19px;
        align-items: center;

        &__logo {
            display: flex;
            align-items: center;

            &::after {
                display: none;
            }
        }
    }

    &__txt01 {
        padding-top: 11px;
        padding-bottom: 15px;
        padding-right: 60px;
        font-size: 1.4rem;
        font-weight: 400;
        color: #a0a0a0;
        text-align: right;
        letter-spacing: 0.3px;
        text-decoration: underline;
    }

    .c-copyright {
        font-size: 1.4rem;
        font-weight: 400;
        color: #fff;
        background-color: #0080cc;
        height: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.2px;
    }
}
    
