/* Header
------------------------------------------------------------*/
.c-header {
    width: 100%;
    z-index: 100;
    position: fixed;
    
    .c-breadcrumb {
        padding: 20px 20px 8px;
    }
}
