<header class="c-header">
  <h1 class="c-header__logo">
    <a href="<%= BASE_URL %>index.html">
      <img src="/assets/img/logo.png" alt="Logo">
      <!-- <span>Recruitment 2020</span> -->
    </a>
  </h1>
  <div class="c-header__navgroup">
    <div class="c-header__menuicon">
      <img src="../_public/assets/img/menu.svg" alt="icon">
    </div>
    <nav class="c-gnav">
      <ul>
        <% if (typeof linklists != 'undefined') { %>
          <% linklists.main && linklists.main.forEach(link => { %>
            <li>
              <a <% if (link.current || link.active) { %>class="is-active"<% } %> href="<%= link.url %>"><%= link.title %></a>
            </li>
          <% }) %>
        <% } %>
      </ul>
    </nav>
    <a href="#recruit" class="c-header__btn">
      <img src="../_public/assets/img/assignment.svg" alt="icon">
      <p>募集要項</p> 
    </a>
  </div>
  
</header>
